
.news-article-card:hover {
    cursor: pointer;
}

.news-article-card {
    height: inherit;
    width: inherit;
    display: inherit;
    overflow: inherit;
}

.card-header-image {
    height: 35%;
    width: 70%;
    margin: auto;
    position: absolute;
    bottom: 15%;
}

.external-link-button {
    bottom: 16px;
    right: 8px;
    position: absolute;
}

.news-source {
    position: absolute;
    right: 48px;
    bottom: 8px;
}
