
  <mat-card class="news-article-card" matTooltip="Open in new tab"
  [matTooltipPosition]="position" [matTooltipShowDelay]="300" (click)="onNavigate(newsArticle.url)">
    <mat-card-header class="card-header">
      <mat-card-title>{{ newsArticle.headline }}</mat-card-title>
      <mat-card-subtitle>
        <img class="card-header-image" src="{{newsArticle.image}}" /> 
        <p class="news-source">{{ newsArticle.source }}</p>
        <button mat-icon-button class="external-link-button" aria-label="Open external news article in new tab">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
