<div class="container">
  
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
        <td mat-cell *matCellDef="let row" matTooltip="Go to Stock details..."
        [matTooltipPosition]="position" [matTooltipShowDelay]="300" >
          <a class="nav-link" [routerLink]="['/stock-detail', row.symbol]" [routerLinkActive]="['link-active']">
            {{row.symbol}}
          </a>
        </td>
      </ng-container>
  
      <!-- CompanyName Column -->
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
        <td mat-cell *matCellDef="let row"> {{row.companyName}} </td>
      </ng-container>
  
      <!-- High Column -->
      <ng-container matColumnDef="high">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> High </th>
        <td mat-cell *matCellDef="let row"> {{row.high}} </td>
      </ng-container>
  
      <!-- Low Column -->
      <ng-container matColumnDef="low">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Low </th>
        <td mat-cell *matCellDef="let row"> {{row.low}} </td>
      </ng-container>
  
      <!-- Open Column -->
      <ng-container matColumnDef="open">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Open </th>
        <td mat-cell *matCellDef="let row"> {{row.open}} </td>
      </ng-container>
  
      <!-- Close Column -->
      <ng-container matColumnDef="close">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Close </th>
        <td mat-cell *matCellDef="let row"> {{row.close}} </td>
      </ng-container>
  
      <!-- Change Column -->
      <ng-container matColumnDef="change">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Change </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.change < 0 ? 'red' : 'green'"> {{row.change}} </td>
      </ng-container>
  
      <!-- Change Percent Column -->
      <ng-container matColumnDef="changePercent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> % Change </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.changePercent < 0 ? 'red' : 'green'"> {{row.changePercent | percent:'1.0-3'}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
