<div class="container">
    
  <p *ngIf="!newsArticles"><em>Loading...</em></p>
    
  <mat-grid-list *ngIf="newsArticles" cols="3">
    <mat-grid-tile *ngFor="let article of newsArticles" class="article-grid-tile mat-elevation-z4">
        <app-stock-news-article class="stock-news-article" [newsArticle]="article"></app-stock-news-article>
    </mat-grid-tile>
  </mat-grid-list>
  
</div>
