<h1>Stocks</h1>

<!-- <p *ngIf="!dataLoaded"><em>Loading...</em></p> -->

<div class="container">
  
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
        <td mat-cell *matCellDef="let row">
          <a class="nav-link" [routerLink]="['/stock-detail', row.symbol]" [routerLinkActive]="['link-active']">
            {{row.symbol}}
          </a>
        </td>
      </ng-container>
  
      <!-- Exchange Column -->
      <ng-container matColumnDef="exchange">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Exchange </th>
        <td mat-cell *matCellDef="let row"> {{row.exchange}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
      </ng-container>
  
      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
      </ng-container>
  
      <!-- IexId Column -->
      <ng-container matColumnDef="iexId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> IexId </th>
        <td mat-cell *matCellDef="let row"> {{row.iexId}} </td>
      </ng-container>
  
      <!-- Region Column -->
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Region </th>
        <td mat-cell *matCellDef="let row"> {{row.region}} </td>
      </ng-container>
  
      <!-- Currency Column -->
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
        <td mat-cell *matCellDef="let row"> {{row.currency}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
</div>
