<div class="container flex-container">
  
  <div class="child-container">
    <h3 class="child-title">Top 10 Gainers</h3>
    <app-stock-quote-list-table [listType]="gainersListType" class="stock-quote-list-table"></app-stock-quote-list-table>
  </div>

  <div class="child-container">
    <h3 class="child-title">Top 10 Losers</h3>
    <app-stock-quote-list-table [listType]="losersListType" class="stock-quote-list-table"></app-stock-quote-list-table>
  </div>

</div>
