.flex-container {
    display: flex;
    flex-direction: column;
    /* width: 75%; */
}

.child-container {
    margin: auto;
    padding: 16px;
}

.child-title {
    font-size: 24px;
    padding: 8px;
}

.stock-quote-list-table {
    /* padding: 16px; */
}