<body class="mat-app-background">
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>

    <footer class="iex-ref-annotation">Data provided by <a href="https://iexcloud.io">IEX Cloud</a>.</footer>
  </div>
</body>
