@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.iex-ref-annotation {
  font-size: 0.7em;
  font-style: italic;
  font-family: calibri, verdana, arial, sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
}