<div class="container">
  
  <div class="mat-elevation-z4 key-stats-table-container">
    <table mat-table [dataSource]="dataSource">
      
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let row"> {{row.symbol}} </td>
      </ng-container>
  
      <!-- CompanyName Column -->
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef> Company Name </th>
        <td mat-cell *matCellDef="let row"> {{row.companyName}} </td>
      </ng-container>
  
      <!-- Market Cap Column -->
      <ng-container matColumnDef="marketcap">
        <th mat-header-cell *matHeaderCellDef> Market Cap </th>
        <td mat-cell *matCellDef="let row"> {{row.marketcap | number}} </td>
      </ng-container>
  
      <!-- week52high Column -->
      <ng-container matColumnDef="week52high">
        <th mat-header-cell *matHeaderCellDef> 52W High </th>
        <td mat-cell *matCellDef="let row"> {{row.week52high | number}} </td>
      </ng-container>
  
      <!-- week52low Column -->
      <ng-container matColumnDef="week52low">
        <th mat-header-cell *matHeaderCellDef> 52W Low </th>
        <td mat-cell *matCellDef="let row"> {{row.week52low | number}} </td>
      </ng-container>
  
      <!-- week52change Column -->
      <ng-container matColumnDef="week52change">
        <th mat-header-cell *matHeaderCellDef> 52W Change </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.change < 0 ? 'red' : 'green'"> {{row.week52change | number}} </td>
      </ng-container>
  
      <!-- sharesOutstanding Column -->
      <ng-container matColumnDef="sharesOutstanding">
        <th mat-header-cell *matHeaderCellDef> Shares Outstanding </th>
        <td mat-cell *matCellDef="let row"> {{row.sharesOutstanding}} </td>
      </ng-container>
  
      <!-- iexfloat Column -->
      <ng-container matColumnDef="iexfloat">
        <th mat-header-cell *matHeaderCellDef> IEX Float </th>
        <td mat-cell *matCellDef="let row"> {{row.iexfloat | number}} </td>
      </ng-container>

      <!-- avg10Volume Column -->
      <ng-container matColumnDef="avg10Volume">
        <th mat-header-cell *matHeaderCellDef> 10d Avg Vol </th>
        <td mat-cell *matCellDef="let row"> {{row.avg10Volume}} </td>
      </ng-container>

      <!-- avg30Volume Column -->
      <ng-container matColumnDef="avg30Volume">
        <th mat-header-cell *matHeaderCellDef> 30d Avg Vol </th>
        <td mat-cell *matCellDef="let row"> {{row.avg30Volume}} </td>
      </ng-container>

      <!-- day200MovingAvg Column -->
      <ng-container matColumnDef="day200MovingAvg">
        <th mat-header-cell *matHeaderCellDef> 200d Moving Avg </th>
        <td mat-cell *matCellDef="let row"> {{row.day200MovingAvg | number}} </td>
      </ng-container>

      <!-- day50MovingAvg Column -->
      <ng-container matColumnDef="day50MovingAvg">
        <th mat-header-cell *matHeaderCellDef> 50d Moving Avg </th>
        <td mat-cell *matCellDef="let row"> {{row.day50MovingAvg | number}} </td>
      </ng-container>

      <!-- employees Column -->
      <ng-container matColumnDef="employees">
        <th mat-header-cell *matHeaderCellDef> Employees </th>
        <td mat-cell *matCellDef="let row"> {{row.employees}} </td>
      </ng-container>

      <!-- ttmEPS Column -->
      <ng-container matColumnDef="ttmEPS">
        <th mat-header-cell *matHeaderCellDef> ttmEPS </th>
        <td mat-cell *matCellDef="let row"> {{row.ttmEPS | number}} </td>
      </ng-container>

      <!-- ttmDividendRate Column -->
      <ng-container matColumnDef="ttmDividendRate">
        <th mat-header-cell *matHeaderCellDef> ttmDividendRate </th>
        <td mat-cell *matCellDef="let row"> {{row.ttmDividendRate | number}} </td>
      </ng-container>

      <!-- dividendYield Column -->
      <ng-container matColumnDef="dividendYield">
        <th mat-header-cell *matHeaderCellDef> Div. Yield </th>
        <td mat-cell *matCellDef="let row"> {{row.dividendYield | number}} </td>
      </ng-container>

      <!-- nextDividendDate Column -->
      <ng-container matColumnDef="nextDividendDate">
        <th mat-header-cell *matHeaderCellDef> Next Div. Date </th>
        <td mat-cell *matCellDef="let row"> {{row.nextDividendDate}} </td>
      </ng-container>

      <!-- exDividendDate Column -->
      <ng-container matColumnDef="exDividendDate">
        <th mat-header-cell *matHeaderCellDef> Ex Div. Date </th>
        <td mat-cell *matCellDef="let row"> {{row.exDividendDate}} </td>
      </ng-container>

      <!-- nextEarningsDate Column -->
      <ng-container matColumnDef="nextEarningsDate">
        <th mat-header-cell *matHeaderCellDef> Next Earnings Date </th>
        <td mat-cell *matCellDef="let row"> {{row.nextEarningsDate}} </td>
      </ng-container>

      <!-- peRatio Column -->
      <ng-container matColumnDef="peRatio">
        <th mat-header-cell *matHeaderCellDef> P/E Ratio </th>
        <td mat-cell *matCellDef="let row"> {{row.peRatio | number}} </td>
      </ng-container>

      <!-- beta Column -->
      <ng-container matColumnDef="beta">
        <th mat-header-cell *matHeaderCellDef> Beta </th>
        <td mat-cell *matCellDef="let row"> {{row.beta | number}} </td>
      </ng-container>

      <!-- maxChangePercent Column -->
      <ng-container matColumnDef="maxChangePercent">
        <th mat-header-cell *matHeaderCellDef> Max Change % </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.maxChangePercent < 0 ? 'red' : 'green'"> {{row.maxChangePercent | percent:'1.0-3'}} </td>
      </ng-container>

      <!-- year5ChangePercent Column -->
      <ng-container matColumnDef="year5ChangePercent">
        <th mat-header-cell *matHeaderCellDef> 5Y Change % </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.year5ChangePercent < 0 ? 'red' : 'green'"> {{row.year5ChangePercent | percent:'1.0-3'}} </td>
      </ng-container>

      <!-- year2ChangePercent Column -->
      <ng-container matColumnDef="year2ChangePercent">
        <th mat-header-cell *matHeaderCellDef> 2Y Change % </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.year2ChangePercent < 0 ? 'red' : 'green'"> {{row.year2ChangePercent | percent:'1.0-3'}} </td>
      </ng-container>

      <!-- year1ChangePercent Column -->
      <ng-container matColumnDef="year1ChangePercent">
        <th mat-header-cell *matHeaderCellDef> 1Y Change % </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.year1ChangePercent < 0 ? 'red' : 'green'"> {{row.year1ChangePercent | percent:'1.0-3'}} </td>
      </ng-container>

      <!-- ytdChangePercent Column -->
      <ng-container matColumnDef="ytdChangePercent">
        <th mat-header-cell *matHeaderCellDef> YTD Change % </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.ytdChangePercent < 0 ? 'red' : 'green'"> {{row.ytdChangePercent | percent:'1.0-3'}} </td>
      </ng-container>

      <!-- month6ChangePercent Column -->
      <ng-container matColumnDef="month6ChangePercent">
        <th mat-header-cell *matHeaderCellDef> 6m Change % </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.month6ChangePercent < 0 ? 'red' : 'green'"> {{row.month6ChangePercent | percent:'1.0-3'}} </td>
      </ng-container>

      <!-- month3ChangePercent Column -->
      <ng-container matColumnDef="month3ChangePercent">
        <th mat-header-cell *matHeaderCellDef> 3m Change % </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.month3ChangePercent < 0 ? 'red' : 'green'"> {{row.month3ChangePercent | percent:'1.0-3'}} </td>
      </ng-container>

      <!-- month1ChangePercent Column -->
      <ng-container matColumnDef="month1ChangePercent">
        <th mat-header-cell *matHeaderCellDef> 1m Change % </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.month1ChangePercent < 0 ? 'red' : 'green'"> {{row.month1ChangePercent | percent:'1.0-3'}} </td>
      </ng-container>

      <!-- day30ChangePercent Column -->
      <ng-container matColumnDef="day30ChangePercent">
        <th mat-header-cell *matHeaderCellDef> 30d Change % </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.day30ChangePercent < 0 ? 'red' : 'green'"> {{row.day30ChangePercent | percent:'1.0-3'}} </td>
      </ng-container>

      <!-- day5ChangePercent Column -->
      <ng-container matColumnDef="day5ChangePercent">
        <th mat-header-cell *matHeaderCellDef> 5d Change % </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.day5ChangePercent < 0 ? 'red' : 'green'"> {{row.day5ChangePercent | percent:'1.0-3'}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
  </div>
</div>
