<p *ngIf="!symbol"><em>Loading...</em></p>

<div *ngIf="symbol" class="stock-detail-container">

  <div class="stock-detail-header-container">
      <h1 class="stock-detail-header">{{keyStats.companyName}} ({{symbol}})</h1>
  </div>
  
  <app-stock-chart [symbol]="symbol"></app-stock-chart>

  <div class="stock-detail-header-container">
    <h3 class="stock-detail-header">Key Stats</h3>
  </div>

  <app-stock-key-stats *ngIf="keyStats" [keyStats]="keyStats"></app-stock-key-stats>

  <div class="stock-detail-header-container">
    <h3 class="stock-detail-header">Related News</h3>
  </div>

  <app-stock-news-article-list [symbol]="symbol" [count]="12"></app-stock-news-article-list>

  <button mat-fab class="external-link-button" matTooltip="View more news in new tab..."
  [matTooltipPosition]="position" [matTooltipShowDelay]="300" (click)="onNavigate(newsUrl)" aria-label="Open more related news">
    <mat-icon>open_in_new</mat-icon>
  </button>
    
</div>
