.external-link-button {
    bottom: 0;
    right: 0;
    position: fixed;
}

.stock-detail-header-container {
    margin: auto;
    padding: 8px;
}

.stock-detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}