<header>
  <mat-toolbar color="primary" class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
      <a class="navbar-brand text-dark" [routerLink]='["/"]'><b>Stock Up</b></a>
      <span class="fill-remaining-space"></span>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/stocks-overview"]'>Stocks</a>
          </li>
        </ul>
      </div>
  </mat-toolbar>
</header>
