<div class="stock-detail-header-container">
    <h1 class="stock-detail-header">50 Related News Articles for {{ symbol }}</h1>
</div>

<app-stock-news-article-list [symbol]="symbol" [count]="50"></app-stock-news-article-list>